.DS_Store
npm-debug*
*.sass-cache*

*.sw[mnop]
*.py?
*.log
.env
*.map

build/
!travis/config
lib-cov/
target/
tmp/

coverage.html
coverage.lcov

test-rabbit*

test/client/config/config.json

\.*.un~

sauce_connect.log*
sauce-connect/*
test-results.xml

node_modules/

# Required for building cross-platform while the modules are checked in
**/fsevents/*
node_modules/phantomjs/lib/phantom/bin/phantomjs
